on: [push]

name: Run Azure Login With a Service Principal Secret

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    - uses: azure/login@v2
      with:
        creds:  ${{ secrets.AZURE_CREDENTIALS  }}

    - name: Azure CLI script
      uses: azure/cli@v2
      with:
        azcliversion: latest
        inlineScript: |
          az account show
          az group create --name ndedende --location westeurope
          az container create --resource-group ndedende --name ndedende --image mcr.microsoft.com/azuredocs/aci-helloworld:latest --os-type linux  --ports 80  --memory 1 --cpu 1
